.gitis {
    margin: 0;
    padding: .3rem;
    background-color: #999;
    font: 1rem 'Fira Sans', sans-serif;
}

.gitis > h1,
.day-gitis {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 5px;
}
/* 
.day-gitis {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
} */

.day-gitis > h2,
.day-gitis > p {
    margin: .2rem;
    font-size: 1rem;
}
.card {
    width: 250px;
    box-shadow: 04px 8px 0 rgba(0, 0, 0, 0.2), 06px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}​
.container {
    padding: 10px;
}
