
div.card {
    width: 100%;
    /* padding: 1%; */
    text-align: center;
    border: 1px solid #ffffff;
    border-bottom-color: rgb(52, 140, 159);
    background-color: #ffffff;
}
div.header {
    color: rgb(10, 120, 76);
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}
div.container {
    text-align: left;
    color:#cccecc
}
div.preview {
    padding: 10px;
    /* margin: auto; */
    margin-top:-10px;
    margin-bottom: -10px;
    text-align: left;
    font-size: 12px;
    color:#049004
}

.row {
    margin:auto ;
}
.blogContainer {
    /* padding:10px; */
    background-color: rgb(240, 240, 240);
    /* opacity: 0.9; */
}
.img-title {
    display: inline;
    margin: auto;
    padding: auto;
    width: 100px;
}
.ownerline {
    align-items: center;
    background-color: rgb(3, 153, 43);
    height: 80px;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    /* padding: 10px; */
    /* padding-left: 5%; */
}
.ownerName {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    background-color: #4a4e4a;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    /* width: 30%; */
}
.owner-span {
    float: left;
    height: 50px;
}
.githublog_text {
    color: rgb(254, 109, 5);
    padding: 20px;
    font-weight: bold;
    font-size: 125px;
}
.body_issuse {
    max-width: 1024px;
    margin: 0 auto; 
    padding: 10px;
}
.titlestyle {
    text-align: center;
    font-size: 20px;
    color: darkslategrey;
}